name: Pipeline Checks

on: [push]

jobs:
  pipeline-checks:
    name: Build and Test the Project
    runs-on: ubuntu-20.04

    steps:
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Setup Poetry
        run: poetry env use ${pythonLocation}/bin/python
        working-directory: POCDjangoDeploy/pyproject.toml

      - name: Install project
        run: |
          poetry shell
          poetry install

      - name: Safety
        run: poetry run safety check -i 50571

      - name: Test Project
        run: poetry run pytest -s -v --cov
